In [1]:
import sys 
sys.path.append('../')

In [4]:
from src.connect import run_query, save_df_to_db

In [5]:
query = f"""

SELECT * 
FROM messi AS m
WHERE m."Competition" = 'LaLiga'
"""

data = run_query(query)

In [6]:
data.head()

,Season,Competition,Matchday,Date,Venue,Club,Opponent,Playing_Position,Minute,At_score,Type,Goal_assist
0,04/05,LaLiga,34,05-01/05,H,FC Barcelona,Albacete Balompie,CF,90+1,2:00,Left-footed shot,Ronaldinho Gaacho
1,05/06,LaLiga,13,11/27/05,H,FC Barcelona,Racing Santander,RW,51,2:00,Left-footed shot,Samuel Etoo
2,05/06,LaLiga,19,1/15/06,H,FC Barcelona,Athletic Bilbao,RW,50,2:01,Left-footed shot,Mark van Bommel
3,05/06,LaLiga,20,1/22/06,H,FC Barcelona,Deportivo Alaves,CF,82,2:00,Left-footed shot,Ronaldinho Gaacho
4,05/06,LaLiga,21,1/29/06,A,FC Barcelona,RCD Mallorca,CF,75,0:02,Right-footed shot,Sylvinho

In [ ]:
data["The_Goat"] = "YESSSSSSSS"

In [9]:
data = data.drop(columns=["Date"])

In [10]:
save_df_to_db(df=data, table_name='messi')

Dropping column: Date
Adding column: The_Goat
Truncating table: messi
✅ Données sauvegardées dans messi